* {
    margin: 0;
    padding: 0;
}

body {
    font: 12px/18px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
    -webkit-font-smoothing: antialiased;
}
/* TOP PART OF CONTENT*/
.top {
    background-image: url(../images/background.jpg);
    background-size: auto;
    background-position: bottom;
    background-repeat: no-repeat;
    height: 665px;
    width: 100vw;

}

/* BOTTOM CONTENT*/
.bottom {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: 200px;
}

.bottom a img {
    border: 1.5px solid white;
}

/*FOOTER*/
footer {
    color: #6e6e6e;
    display: inline;
    font-size: .8334em;
    line-height: 1.2;
    text-align: center;

}

footer a {
    color: #0088cc;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
.footerContent {
    height: 54px;
    margin: 0 auto;
    padding: 10px 0 26px 0;
    width: 980px;
}

.footerLeft {
    float: left;
    clear: both;
    width: 49%;
    padding-top: 1.5em;
    text-align: left;
}

.footerRight {
    display: flex;
    float: right;
    justify-content: flex-end;
    padding-top: 1.5em;
    text-align: right;
    width: 51%;
}

.footerRight li {
    display: inline-block;
    float: none;
    margin-left: .4em;
    padding-left: .4em;
    border-left: 1px solid #ccc;
}

.footerRight .first, .footerBottomLeft .first {
    margin-left: 0;
    padding-left: 0;
    border-left: none;
}

.footerRight .last {
    position: relative;
    height: 12px;
    width: 16px;
}

.footerBottomLeft {
    display: flex;
    float: left;
    clear: both;
    width: 49%;
    padding-bottom: 1.5em;
    padding-top: 1.5em;
    text-align: left;
}

.footerBottomLeft ul li {
    display: inline-block;
    float: none;
    margin-left: .6em;
    padding-left: .4em;
    border-left: 1px solid #ccc;
}